@import '~bootstrap/scss/bootstrap';


img{
    max-width: 100%;
}

.admin-index{
    .btn-container{
        display: flex;
        justify-content: center;
    }
    
}

.navbar-container{
    height: 70px;

    .portfolio-title{
        font-family: 'Sono', sans-serif;
    }
    background-image: url('../../storage/app/public/uploads/cover.png');

    .admin-name{
        background-color: rgb(250,211,53);
        border: 1px solid rgb(180,152,38);
        border-radius: 20px;
        padding: 3px;
    }
}