@import '~bootstrap/scss/bootstrap';

img{
    max-width: 100%;
}

.admin-index{
    th{
        text-align: center;
    }
    td{
        max-height: 200px;
        text-overflow: ellipsis;
    }

    .btn-container{
        display: flex;
        justify-content: center;
    }
    
}